<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74722918722-3ksggje5b8airvhbahimhpt6c775a3ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74722918722-3ksggje5b8airvhbahimhpt6c775a3ch</string>
	<key>API_KEY</key>
	<string>AIzaSyAwILeiBFR0SVjHeLeuT_6mXiaViJui0dk</string>
	<key>GCM_SENDER_ID</key>
	<string>74722918722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDeciderApp</string>
	<key>PROJECT_ID</key>
	<string>deciderapp-d9a0a</string>
	<key>STORAGE_BUCKET</key>
	<string>deciderapp-d9a0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74722918722:ios:43c5d176325ca8daeb48db</string>
</dict>
</plist>